li {
    padding: 5px;
}
.more {
    background-color: #c5012e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.languageContent {
    width: auto;
    margin: 10vh;
    height: auto;
    background-image: linear-gradient(62deg, #2a2c2d 0%, #000 100%);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000;
}

.languages {
    padding: 10px;
    background-image: linear-gradient(62deg, #2a2c2d 0%, #000 100%);
    color: whitesmoke;
    height: auto;
    width: auto;
}

.level {
    padding: 10px;
    background-image: linear-gradient(62deg, #2a2c2d 0%, #000 100%);
    color: whitesmoke;
    height: auto;
}

.habilities  {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 10vw;
    background-image: linear-gradient(62deg, #2a2c2d 0%, #000 100%);
    color: whitesmoke;
    list-style-type: none;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000;

    
}

.codeLanguages {
   width: auto;
   height: auto;
    margin: 10vh;
    background-image: linear-gradient(62deg, #2a2c2d 0%, #000 100%);
    color: whitesmoke;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000;


}

.subtitle {
    padding: 10px 0px 20px;
}